<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinyl Card</title>
  </head>
  <body>
    <div
      class="vinyl-card bg-white shadow-md rounded-lg overflow-hidden w-64 h-auto transform transition-transform hover:scale-110 hover:shadow-xl"
    >
      <div class="vinyl-card-image">
        <img
          src="{{ vinyl.image.url }}"
          alt="Vinyl Image"
          class="vinyl-image w-full h-48 object-fit"
        />
      </div>
      <div class="vinyl-info p-4">
        <h3 class="vinyl-title text-lg font-semibold mb-0.5">
          {{ vinyl.album_name }}
        </h3>
        <h4 class="vinyl-artist text-gray-400"> by {{ vinyl.artist }}</h4>
        <h4 class="vinyl-price text-green-800 font-semibold mt-2">
          ${{ vinyl.price }}
        </h4>
      </div>
    </div>
  </body>
</html>
