<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reksa's Records</title>
  </head>
  <body class="p-4">
    <div class="border-b-2 mb-4">
      <h1 id="title" class="font-bold text-4xl pb-2">{{ aplikasi }}</h1>
    </div>
    <div id="info">
      <h2>Hi! I'm {{ name }} ({{ npm }}) from PBP Class {{ kelas }}!</h2>
    </div>
    <div class="flex flex-wrap gap-6">
      {% for vinyl in vinyls %} {% include "components/vinyl.html" %} {% empty%}
      <p>No vinyl records available.</p>
      {% endfor %}
    </div>
  </body>
</html>
